extends ../layout

block content
  h1 Login
  if errors.length
    ul
      each e in errors
        li= e

  form(method="POST" action="/auth/login")
    div
      label Email
      input(type="email" name="email" value=form.email || "")
    div
      label Password
      input(type="password" name="password")
    button(type="submit") Login