extends ../layout

block content
  h1 Register
  if errors.length
    ul
      each e in errors
        li= e

  form(method="POST" action="/auth/register")
    div
      label Username
      input(type="text" name="username" value=form.username || "")
    div
      label Email
      input(type="email" name="email" value=form.email || "")
    div
      label Password
      input(type="password" name="password")
    button(type="submit") Register